<h1 align="center">Zewail University of Science and Technology</h1>
<h2 align="center">CIE 417 (Fall 2018)</h2>
<h2 align="center">Lab 1: Python Tutorial</h3>
<h3 align="center">20/09/2018</h3>

### Dynamically Typed Language

In [50]:
x = 1 #x is bound to a value of type int
x *= 2.1 #x is now bound to another value of type float
print (x)

2.1

### Conditional

In [52]:
x = 2
y = 1

if x == y:
    print("x equals y")
elif x > y:
    print ("x is greater than y")
else:
    print ("x is smaller than y")

x is greater than y

### Strings

In [65]:
x = "This is a single \
line written in two lines"  # \ is used to continue the statement in another line
print(x)

This is a single line written in two lines

In [66]:
x = '''This is a
three
    lines
        statement'''
print(x)

This is a
three
    lines
        statement

In [67]:
x = 'Hello World' 
print(x[0:5]) #strings are indexable

Hello

In [72]:
x = "20"
y = "18"
print(x + y) #strings can be concatenated using + operator

2018

In [86]:
#non-string objects can be converted to strings using str() or format()
x = "20"
y = 18
print(x + str(y))
print(x + format(y, "0.2f"))
print(x + format(y, "d"))

2018
2018.00
2018

In [87]:
x = "Hello"
x[1] = 's' #strings are immutable

TypeError: 'str' object does not support item assignment

### Lists

In [124]:
x = ["Hello", "World", "."]

In [125]:
#lists are indexable
print (x[0])

Hello

In [126]:
#lists are mutable
print (x[2])
x[2] = "!"
print (x[2])

.
!

In [127]:
#appending items at the end
x.append("!")
print (x)

['Hello', 'World', '!', '!']

In [128]:
#inserting items in the middle
x.insert(1,",")
print (x)

['Hello', ',', 'World', '!', '!']

In [131]:
#slicing
x[0:2] = ['Hello,', ' ']
print(x)

['Hello,', ' ', 'World', '!', '!']

In [133]:
#lists Concatenation
x = ["Hello", ", "]
y = ["World", "!"]
print(x + y)

['Hello', ', ', 'World', '!']

In [136]:
#lists within lists
x = ["Hello", [", ", "World"], "!"]
print(x[1])
print(x[1][0])

[', ', 'World']
,

### Tuples

In [151]:
x= ("Hello", ",")
y = "World", "!"  #This is also a tuple

In [152]:
#indexing
print(x[0])

#slicing
print (x[0:2])

#concatenating
print (x + y)

Hello
('Hello', ',')
('Hello', ',', 'World', '!')

In [153]:
#tuples are immutable
x[0] = "s"

TypeError: 'tuple' object does not support item assignment

In [156]:
#unpacking tuples
var1, var2 = x
print(var1)
print(var2)

Hello
,

### Sets

In [163]:
#sets are unordered and don't contain duplicates
x = set([1,2,3,1,2])
y = set("Hello")
print(x)
print(y)

{1, 2, 3}
{'e', 'H', 'l', 'o'}

In [166]:
x = set([1,2,3])
y = set([2,4,6])

#union
print (x | y)

#intersection
print (x & y)

#difference
print (x - y)

#symmetric difference
print (x ^ y)

{1, 2, 3, 4, 6}
{2}
{1, 3}
{1, 3, 4, 6}

In [173]:
#single items can be added using add(), multiple items can be added using update()
x.add(4)
y.update([6,8,10])
print(x)
print(y)

In [177]:
#items can be removed using remove()
x.remove(3)
print(x)

{1, 2, 4}

### Dictionaries

In [7]:
#dictionary initialization
student = {"name" : "Ahmed", "id":20150001, "courses":["CIE 417", "CIE 418", "CIE 419"]}

#accessing members
print(student["name"])

Ahmed

In [11]:
#check for a dictionary member, and add it if it is not found
if "GPA" in student:
    print(student)
else:
    student["GPA"] = 1.00
    print(student)

{'name': 'Ahmed', 'id': 20150001, 'courses': ['CIE 417', 'CIE 418', 'CIE 419'], 'GPA': 1.0}

In [10]:
#get() function returns the value if found, or return a default value if not
name = student.get("name", "Mohamed")
number = student.get("number", "01000000000")
print(name,number)

Ahmed 01000000000

In [12]:
#delete dictionary member
del student["GPA"]
print(student)

{'name': 'Ahmed', 'id': 20150001, 'courses': ['CIE 417', 'CIE 418', 'CIE 419']}

In [20]:
#get a list of dictionary keys using list(student)
print (list(student))

['name', 'id', 'courses']

### Iteration

In [23]:
#while loop
x = 5
while x:
    print(x)
    x -= 1

5
4
3
2
1

In [31]:
#for loop using range
for i in range(6):
    print(i,end=" ")
    
print("")
for i in range(5, 11):
    print(i,end=" ")
    
print("")
for i in range(0, 11, 2):
    print(i,end=" ")

0 1 2 3 4 5
5 6 7 8 9 10
0 2 4 6 8 10

In [42]:
#iterating over iterables

#iterating over the characters of a string
x = "Hello"
for c in x:
    print (c, end=" ")
    
#iterating over a list
print("\n")
x = ["W", "o", "r", "l", "d"]
for c in x:
    print (c, end=" ")
    
#iterating over a dictionary
print("\n")
student = {"name" : "Ahmed", "id":20150001, "courses":["CIE 417", "CIE 418", "CIE 419"]}
for key in student:
    print (key, student[key])
    
#iterating over a list of tuples
print("\n")
student = [("Ahmed", 20150001, ["CIE 417", "CIE 418", "CIE 419"]), ("Mohamed", 20150002, ["CIE 417", "CIE 418", "CIE 419"])]
for name, uni_id, courses in student:
    print (name, uni_id, courses)

H e l l o

W o r l d

name Ahmed
id 20150001
courses ['CIE 417', 'CIE 418', 'CIE 419']


Ahmed 20150001 ['CIE 417', 'CIE 418', 'CIE 419']
Mohamed 20150002 ['CIE 417', 'CIE 418', 'CIE 419']

In [47]:
#list comprehension, for example create a list of even numbers as strings
y = [str(i) for i in range(20) if i%2==0]
print(y)

['0', '2', '4', '6', '8', '10', '12', '14', '16', '18']